*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ortayazi{
 text-align: center;
}

a{
    text-decoration: none;
}

              .konteynir{
                  width: 70%;
                  margin: 0 15%
                     }


                     .navbar{
                         display:flex;
                         justify-content: space-around;
                        }
